@charset "utf-8";
/* CSS Document */

table {
	border: 1px solid #666;
	width: 80%;
	margin: 20px 0 20px 0 !important;
}

th,td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
}

thead tr {
	background-color: #3c78b5;
}

th.sorted {
	background-color: #CCCCCC;
}

th a,th a:visited {
	color: black;
}

th a:hover {
	text-decoration: underline;
	color: black;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a {
	background-image: url(../img/arrow_off.png);
    background-repeat: no-repeat;
}

th.order1 a {
	background-image: url(../img/arrow_down.png);
    background-repeat: no-repeat;
}

th.order2 a {
	background-image: url(../img/arrow_up.png);
    background-repeat: no-repeat;
}

tr.odd {
	background-color: #ffffff
}

tr.tableRowEven,tr.even {
	background-color: #CCCCCC
}

.group-1 {
    font-weight:bold;
    padding-bottom:10px;
    border-top:1px solid black;
}
.group-2 {
    font-style:italic;
    border-top: 1px solid black;

}

.grouped-table tr.even {
    background-color: #ffffff;
}
.grouped-table tr.odd {
    background-color: #ffffff;
}
select{
	width: 200px;
}
.datacell {
border-left: 1px black solid;
border-bottom: 1px black solid;
padding-left: 5px;
}

.datacellRightBorder {
border-left: 1px black solid;
border-right: 1px black solid;
border-bottom: 1px black solid;
padding-left: 5px;

}
.headercell {
	background-color:#3c78b5;
	color:white;
	font: bold 100% Calibri;
	font-size: 1.3em;
	border-top: 1px black solid;
	border-left: 1px black solid;
	padding-left: 5px;
}
.leftSpacecell {
	padding-left: 25px;
}
.leftSpacecell1 {
	padding-left: 35px;
}
.headercellRightBorder {
	background-color:#3c78b5;
	color:white;
	font: bold 100% Calibri;
	font-size: 1.3em;
	border-top: 1px black solid;
	border-right: 1px black solid;
        border-left: 1px black solid;
	padding-left: 5px;
}

